body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70px 1fr;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-column: 1 / 3;
    background-color: #18181b;
    color: #fafafa;
    font-size: 28px;
    padding: 20px 40px;
}

.sidebar,
.content {
    font-size: 20px;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #e4e4e7;
    height: 100%;
}

.projects-ul {
    padding: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.project-item,
.todo-item,
.show-add-project-form-btn,
.add-project-btn,
.add-project-cancel-btn {
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: #52525b;
}

.todo-item {
    color: black;
}

.add-project-field {
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #fafafa;
    border-radius: 10px;
    height: 38px;
    font-size: 20px;
}

.add-project-container {
    display: flex;
}

.show-add-project-form-btn,
.add-project-btn,
.add-project-cancel-btn {
    border: none;
    font-size: 20px;
    background-color: #e4e4e7;
}

.show-add-project-form-btn {
    width: 100%;
}

.add-project-btn {
    background-color: #6366f1;
    color: #fafafa;
}

.project-item:hover,
.show-add-project-form-btn:hover,
.add-project-cancel-btn:hover {
    background-color: #a1a1aa;
    color: black;
    cursor: pointer;
}

.add-project-cancel-btn:hover {
    background-color: #e4e4e7;
}

.add-project-btn:hover {
    background-color: #4338ca;
    color: #fafafa;
    cursor: pointer;
}

.hidden {
    display: none;
}

.current-project,
.current-project:hover {
    background-color: #6366f1;
    color: #fafafa;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #fafafa;
}

ul {
    list-style-type: none;
}

.todo-item {
    display: flex;
    align-content: center;
    width: 70%;
    justify-content: space-between;
}

.delete-todo {
    display: none;
    background-color: #fafafa;
    font-size: 18px;
    border: none;
}

.delete-todo:hover {
    cursor: pointer;
}

.todo-item:hover{
    color: #71717a;
}

.todo-item:hover > .delete-todo {
    display: block;
}