:root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --primary: #7dd3fc;
    --primary-dark: #38bdf8;
    --primary-light: #bae6fd;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 1fr;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    grid-column: 1 / 3;
    background-color: var(--primary);
    color: var(--zinc-800);
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
}

.sidebar,
.content,
.add-project-field,
.add-todo-field,
.todo-item,
.show-add-project-form-btn,
.add-project-cancel-btn,
.chevron,
.expanded,
.todo-item.expanded:hover,
.expanded > .chevron,
.todo-item.expanded:hover > .chevron,
.cancel-details-btn {
    background-color: var(--zinc-50);
    color: var(--zinc-800);
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    border-right: 1px solid var(--zinc-200);
}

.projects-ul {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.todo-ul {
    width: 75%;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--zinc-200);
}

.add-project-field,
.add-todo-field {
    width: 100%;
    outline: none;
    box-shadow: 0 2px 2px var(--zinc-300);
}

.show-add-project-form-btn,
.show-add-todo-form-btn {
    color: var(--zinc-600);
}

.show-add-todo-form-btn,
.add-todo-cancel-btn {
    background-color: var(--zinc-200);
}

.show-add-todo-form-btn:hover {
    background-color: var(--zinc-300);
}

.show-add-project-form-btn,
.show-add-todo-form-btn {
    width: 100%;
    text-align: left;
}

.project-item:hover,
.show-add-project-form-btn:hover,
.todo-item:hover,
.todo-item:hover > .chevron {
    background-color: var(--zinc-100);
    color: var(--zinc-900);
}

.current-project,
.current-project:hover,
.current-project > .delete-project,
.add-project-btn,
.add-todo-btn,
.save-details-btn,
.edit-details-btn {
    background-color: var(--primary);
    color: var(--zinc-800);
}

.add-project-btn:hover,
.add-todo-btn:hover,
.save-details-btn:hover,
.edit-details-btn {
    background-color: var(--primary-dark);
}

.hidden {
    display: none !important;
}

.current-project:hover > .delete-project:hover {
    background-color: var(--primary-dark);
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li,
button,
.add-project-field,
.add-todo-field {
    box-sizing: border-box;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.project-item {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
}

.todo-item {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 30px 1fr;
    align-items: center;
    box-shadow: 0 2px 2px var(--zinc-300);
}

.project-item,
.todo-item,
.add-project-field,
.add-todo-field {
    margin-bottom: 10px;
}

.expanded {
    box-shadow: 0 2px 2px var(--zinc-300);
}

.project-item:hover > .delete-project,
.todo-item:hover > .delete-todo,
.todo-item:hover > .chevron {
    display: block;
}

.delete-project,
.delete-todo {
    display: none;
    background-color: var(--zinc-100);
    border-radius: 5px;
    padding: 1px 10px;
    margin: 0;
}

.delete-todo:hover,
.delete-project:hover {
    background-color: var(--zinc-200);
}

input[type=checkbox] {
    margin: 0 10px;
}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
}

.chevron {
    background-image: url('./chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;  
    height: 25px;
    align-self: center;
    grid-template-columns: 2 / 3;
}

.rotate {
    rotate: 180deg;
}

.checkbox-title-container > label,
button,
.checkbox-title-container,
.project-item {
    cursor: pointer;
}

.todo-details-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
    align-items: center;
}

.todo-details-container > label {
    font-size: 14px;
    font-weight: 600;
    color: var(--zinc-600);
    text-align: right;
    
}

.todo-details-container > input, 
.todo-details-container > textarea, 
.todo-details-container > select {
    grid-template-columns: 2 / 3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--zinc-800);
}

.todo-details-container > textarea {
    resize: vertical;
}

 .todo-details-container > *:disabled {
    border: 1px solid var(--zinc-300);
    background-color: var(--zinc-50);
 }

 .todo-details-container > *:enabled {
    border: 1px solid var(--zinc-500);
    background-color: var(--zinc-50);
 }

 .todo-details-container > div {
    grid-column: 1 / 3;
 }