body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70px 1fr;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-column: 1 / 3;
    background-color: #18181b;
    color: #fafafa;
    font-size: 28px;
    padding: 20px 40px;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #d4d4d8;
    height: 100%;
    font-size: 20px;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #fafafa;
}

ul {
    list-style-type: none;
}

.todo-item {
    display: flex;
    align-content: center;
    width: 70%;
    justify-content: space-between;
}

.delete-todo {
    display: none;
    background: url('./alpha-x-circle-outline.svg');
    background-repeat: no-repeat;
    border: none;
    height: 18px;
    width: 18px;
}

.delete-todo:hover {
    cursor: pointer;
}

.todo-item:hover{
    color: #71717a;
}

.todo-item:hover > .delete-todo {
    display: block;

}